.main-content {
    // background-color: lightgray;
    height: 60vh;
    width: 60vw;
    padding: 1em;
    outline: none;
    display: flex;
    justify-content: center;
}

button {
    margin: 0.4em;
}
