<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Change password</h1>
        </div>
    </div>
    <form [formGroup]="changePasswordForm" (submit)="changePasswordForm.valid ? onSubmit($event) : 'return' " >
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Current password</mat-label>
                    <input matInput (input)="!this.currentPasswordCorrect ? onCurrentPasswordInput() : ''" (input)="setPasswordStrength()" type="password" formControlName="currentPassword">
                    <mat-error *ngIf="!this.currentPasswordCorrect">
                        {{ this.getErrorMessage("wrongValue", { "name": "Password" }) }}
                    </mat-error>
                    <mat-error *ngIf="this.changePasswordForm.controls['currentPassword'].hasError('required') && this.currentPasswordCorrect">
                        {{ this.getErrorMessage("required", { "name": "Password" }) }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid lightgray;">
            <div class="col-sm">
                <mat-progress-bar [value]="this.passwordStrength" [color]="this.passwordStrengthProgressBarColor" ></mat-progress-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                    <mat-error *ngIf="this.changePasswordForm.controls['newPassword'].hasError('required')">
                        {{ this.getErrorMessage("required", { "name": "New password" }) }}
                    </mat-error>
                    <mat-error *ngIf="this.changePasswordForm.controls['newPassword'].hasError('minLength') || !this.changePasswordForm.controls['newPassword'].hasError('required')">
                        {{ this.getErrorMessage("minLength", { "name": "New password", "value": 8 }) }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid lightgray;">
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm new password</mat-label>
                    <input matInput type="password" formControlName="newPasswordConfirm">
                    <mat-error *ngIf="this.changePasswordForm.controls['newPasswordConfirm'].hasError('required')">
                        {{ this.getErrorMessage("required", { "name": "Confirm password" }) }}
                    </mat-error>
                    <mat-error *ngIf="this.changePasswordForm.controls['newPasswordConfirm'].hasError('passwordConfirm') || !this.changePasswordForm.controls['newPasswordConfirm'].hasError('required')">
                        {{ this.getErrorMessage("passwordConfirm") }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div style="display: flex;">
                    <button mat-raised-button matDialogClose type="button" style="margin-top: 1em; margin-right: 1em; flex-grow: 1;">Cancel</button>
                    <button mat-raised-button type="submit" color="warn" style="margin-top: 1em; flex-grow: 1;">Change</button>
                </div>
            </div>
        </div>
    </form>
</div>
