<div>
    <div class="recent">
        <mat-grid-list cols="4" rowHeight="100%">
            <div *ngFor="let item of recentFiles">
                <mat-grid-tile style="height: 100%;">
                    <mat-card class="recent_items">
                        <button style="height: 100%; width: 100%; background-color: transparent; border: none;"
                            (click)="onRecentFileClicked(item.name, item.path)">
                            <h2>{{item.name}}</h2>
                            <br>
                            <div>
                                <mat-icon style="width: 100%; font-size: 4em;">description</mat-icon>
                            </div>
                        </button>
    
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <hr style="border-color:lightgray;">
    <div class="main-content">
        <div class="main-content-header">
            <button mat-raised-button color="primary" type="button" (click)="fileUpload.click()">
                <mat-icon>cloud_upload</mat-icon> Upload file
            </button>
            <input type="file" multiple hidden #fileUpload (change)="onFileUploadChanged($event)">
            <button mat-raised-button color="primary" type="button" (click)="onCreateFolderClicked()">
                <mat-icon>add</mat-icon> Create folder
            </button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected"
                        [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element" (click)="onClick(element)">
                    <!-- https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript -->
                    <div style="display: flex; align-items: center; -moz-user-select: none;
                                        -webkit-user-select: none; -ms-user-select: none; user-select: none;
                                        -moz-user-select: none;" unselectable="on" onselectstart="return false"
                        onmousedown="return false">
                        <mat-icon style="vertical-align: center; margin-right: 1em;">{{element.type == "file" ?
                            "description" : "folder"}} </mat-icon>
                        <span>{{element.name}}</span>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="last_modified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>last modified</th>
                <td mat-cell *matCellDef="let element" (click)="onClick(element)" style="-moz-user-select: none;
                                    -webkit-user-select: none; -ms-user-select: none; user-select: none;
                                    -moz-user-select: none;" unselectable="on" onselectstart="return false"
                    onmousedown="return false">{{element.last_modified}}</td>
            </ng-container>
    
            <ng-container matColumnDef="file_size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>file size</th>
                <td mat-cell *matCellDef="let element" (click)="onClick(element)" style="-moz-user-select: none;
                                    -webkit-user-select: none; -ms-user-select: none; user-select: none;
                                    -moz-user-select: none;" unselectable="on" onselectstart="return false"
                    onmousedown="return false">{{element.file_size}}</td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" style="display: flex; justify-content: end;">
                    <button mat-icon-button color="warn" (click)="onDeleteClicked(row)" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
