<div>
    <div class="recent" [hidden]="recentFiles.length == 0">
        <mat-grid-list cols="4" rowHeight="100%">
            <div *ngFor="let item of recentFiles">
                <mat-grid-tile style="height: 100%;">
                    <mat-card class="recent-item">
                        <div class="recent-item-content" (click)="onRecentFileClicked(item.name, item.path)">
                            <h2 class="text-overflow-ellipsis">{{item.name}}</h2>
                            <div>
                                <mat-icon style="width: 100%; font-size: 4em;">description</mat-icon>
                            </div>
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <hr style="border-color:lightgray;">
    <div class="main-content">
        <app-file-table></app-file-table>
    </div>
</div>