<div class="custom_container">
  <div class="custom_row header">
    <mat-toolbar color="primary" class="navbar">
      <div routerLink="/home">myDrive</div>
      <div *ngIf="auth.isLoggedIn(); then links_logged_in else links_not_logged_in"></div>
        <ng-template #links_not_logged_in>
          <span routerLink="/login">login</span>
        </ng-template>
        <ng-template #links_logged_in>
          <button class="user_icon" [matMenuTriggerFor]="menu">
            <mat-icon style="color: black;">person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home">Home</button>
            <button mat-menu-item routerLink="/user_settings">Settings</button>
            <hr style="margin: 0px 8px 0px 8px;">
            <button mat-menu-item routerLink="/login" (click)="auth.logout()">Logout</button>
          </mat-menu>
          <!-- <span routerLink="/login" (click)="auth.logout()">logout</span> -->
        </ng-template>
    </mat-toolbar>
  </div>
  <div class="custom_row content">
    <router-outlet></router-outlet>
  </div>
</div>

