<div class="container">
  <div class="row header">
    <mat-toolbar color="primary" class="navbar">
      <div>myDrive</div>
      <div *ngIf="auth.isLoggedIn(); then links_logged_in else links_not_logged_in"></div>
        <ng-template #links_not_logged_in>
          <span routerLink="/login">login</span>
        </ng-template>
        <ng-template #links_logged_in>
          <span routerLink="/login" (click)="auth.logout()">logout</span>
        </ng-template>
    </mat-toolbar>
  </div>
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
</div>

