.navbar {
    justify-content: space-between;
}

span {
    padding-right:  1rem;
}

.custom_container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.custom_container .custom_row.header {
    flex: 0 1 auto;
}

.custom_container .custom_row.content {
    flex: 1 1 auto;
    height: "100%";
}

.user_icon {
    height: 2.4em;
    width: 2.4em;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
