<div class="main">
    <h1>Add user</h1>
    <hr>
    <form [formGroup]="addUserForm" (ngSubmit)="this.addUserForm.valid ? onSubmit() : 'return'">
        <div class="form-div">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
                <mat-error *ngIf="this.addUserForm.controls['username'].hasError('required')">
                    {{ this.getErrorMessage("required", { "name": "Username" }) }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-div">
            <mat-form-field appearance="outline">
                <mat-label>Firstname</mat-label>
                <input matInput type="text" formControlName="firstname">
                <mat-error *ngIf="this.addUserForm.controls['firstname'].hasError('required')">
                    {{ this.getErrorMessage("required", { "name": "Firstname" }) }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-div">
            <mat-form-field appearance="outline">
                <mat-label>Lastname</mat-label>
                <input matInput type="text" formControlName="lastname">
                <mat-error *ngIf="this.addUserForm.controls['lastname'].hasError('required')">
                    {{ this.getErrorMessage("required", { "name": "Lastname" }) }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-div">
            <mat-form-field appearance="outline">
                <mat-label>Birthday</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="this.addUserForm.controls['birthday'].hasError('required')">
                    {{ this.getErrorMessage("required", { "name": "Birthday" }) }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-div">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="this.addUserForm.controls['email'].hasError('required')">
                    {{ this.getErrorMessage("required", { "name": "Email" }) }}
                </mat-error>
                <mat-error *ngIf="this.addUserForm.controls['email'].hasError('email') && !this.addUserForm.controls['email'].hasError('required')">
                    {{ this.getErrorMessage("email") }}
                </mat-error>
            </mat-form-field>
        </div>
    
        <div class="form-div">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="this.addUserForm.controls['password'].hasError('required')">
                    {{ this.getErrorMessage("required", { "name": "Password" }) }}
                </mat-error>
                <mat-error *ngIf="this.addUserForm.controls['password'].hasError('minLength') || !this.addUserForm.controls['password'].hasError('required')">
                    {{ this.getErrorMessage("minLength", { "name": "Password", "value": 8 }) }}
                </mat-error>
            </mat-form-field>
        </div>
    
        <div class="add-div">
            <button mat-raised-button matDialogClose type="button" color="warn" class="button">Close</button>
            <button mat-raised-button type="submit" color="primary" class="button">Add</button>
        </div>
    </form>
</div>