.setting_card {
    max-width: 60%;
    min-width: 40%;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.user_icon_button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.text {
    position: absolute;
    font-size: 11pt;
    font-weight: bold;
    opacity: 0;
}

.user_icon_button:hover .text {
    opacity: 1;
}

.user_icon_button:hover .user_icon {
    opacity: 0.4;
}

div.row {
    padding: 1em;
}

.row-line {
    border-bottom: 1px solid lightgray;
}

div.col-sm-2{
    display: flex;
    align-items: center;
}

div.col-sm{
    vertical-align: "center";
}

mat-form-field {
    width: 25rem;
    margin-bottom: -1.25em
}

button {
    margin: 0.4em;
}
