/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html, body { height: 100%; font-size: 62.5%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-div-center {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div {
    padding: 1em;
}

// overlay-container /////////////////////////////////////////////////////

.cdk-overlay-container{
    background-color: transparent;
  }

// sidenav /////////////////////////////////////////////////////

.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav {
    min-width: 200px;
}

.sidenav-content {
    padding: 1em;
}

.sidenav-header {
    display: flex;
    margin: 2em 2em 1em;
    color: lightgray;
}

.sidenav-item {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0.4em;
    padding: 1em;
    cursor: pointer;
}

.sidenav-item > mat-icon {
    margin-right: 10px;
}

.active-sidenav-item {
    font-weight: bold;
}

.active-sidenav-item::before {
    position: absolute;
    left: -10px;
    content: "";
    height: 20px;
    width: 10px;
    background-color: #3f51b5;
    animation: item .2s linear both;
}

@keyframes item {
    0% { transform: translateX(0px)}
    100% { transform: translateX(10px)}
}

////////////////////////////////////////////////////////

.dialog-actions {
    display: flex;
    justify-content: flex-end;
}

// context meue ////////////////////////////////////////

.context-menu {
    visibility: hidden;
    position: fixed;
}

// text ////////////////////////////////////////////////

.warn_text *{
    color: #f44336 !important
}

.text-overflow-ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// content /////////////////////////////////////////////

.content__header {
    padding: 1em;
    margin: 1em 0;
}

.content__header-item {
    margin-right: 10px !important;
}

// table ///////////////////////////////////////////////

.table__header {
    padding: 1em;
    margin: 1em 0;
}

.table__header-item {
    margin-right: 1rem !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
