.main-content {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

table {
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 50rem;
    width: 40rem;
}

.center-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-icon {
    font-size: 16rem;
    height: 16rem;
    width: 16rem;
}

.site-content {
    width: 100%;
    margin: 1rem;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay * {
    margin: 1rem;
}

.loading-text::before {
    content: "";
    animation: loading-text 2s infinite both
}

@keyframes loading-text {
    0% { content: "loading ."}
    33% { content: "loading .."}
    66% { content: "loading ..."}
    100% { content: "loading ."}
}
