.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav {
    min-width: 200px;
}

.sidenav-content {
    padding: 1em;
}

.sidenav-header {
    display: flex;
    margin: 2em 2em 1em;
    color: lightgray;
}

.sidenav-item {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0.4em;
    padding: 1em;
    cursor: pointer;
}

.active-sidenav-item {
    font-weight: bold;
}
