<h1 mat-dialog-title>Rename</h1>
<div mat-dialog-content>
    <form [formGroup]="rename">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="this.rename.controls['name'].hasError('forbiddenName')">
                {{ this.getErrorMessage("invalidName", { "name": "name" }) }}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="dialog-actions">
    <div>
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button (click)="onRenameClicked()" color="primary">Rename</button>
    </div>
</div>