<h1 mat-dialog-title>Create group</h1>
<div mat-dialog-content>
    <form [formGroup]="groupForm">
        <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required>
            </mat-form-field>
          </div>          
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Privilege</mat-label>
            <input type="text" matInput formControlName="privilege" [matAutocomplete]="auto">
            <button matSuffix mat-icon-button aria-label="Add" (click)="onAddClicked()">
                <mat-icon>add</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [attr.data-privilege-id]=option.id
                    [value]="option.name" #myInput>
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="selectedPrivileges.length > 0">
            <mat-divider></mat-divider>
            <mat-list role="list">
                <div mat-subheader>Privileges</div>
                <ng-container *ngFor="let privilege of selectedPrivileges">
                    <mat-list-item role="listitem">
                        <h3 mat-line>{{privilege.name}}</h3>
                        <button mat-icon-button color="warn" (click)="onDeleteClicked(privilege.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </div>
    </form>


</div>
<div mat-dialog-actions class="dialog-actions">
    <div>
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" (click)="onCreateClicked()" >Create</button>
    </div>
</div>