<div>
    <div [hidden]="this.headerElements.length === 0" class="app-table__header">
        <button class="app-table__header-item" [hidden]="!this.headerElements.includes('download')" mat-raised-button
            color="primary" (click)="onDownloadClicked(selection.selected)"
            [disabled]="selection.selected.length === 0">
            <mat-icon class="button__icon-left">cloud_download</mat-icon>
            <span>Download file</span>
        </button>
        <input type="file" multiple hidden #fileUpload (change)="onFileUploadChanged($event)">
        <button class="app-table__header-item" [hidden]="!this.headerElements.includes('upload')" mat-raised-button
            color="primary" (click)="fileUpload.click()">
            <mat-icon class="button__icon-left">cloud_upload</mat-icon>
            <span>Upload file</span>
        </button>
        <button class="app-table__header-item" [hidden]="!this.headerElements.includes('createFolder')" mat-raised-button
            color="primary" (click)="onCreateFolderClicked()">
            <mat-icon class="button__icon-left">add</mat-icon>
            <span>Create Folder</span>
        </button>
    </div>
    <div>
        <table [style.height]="this.height" [style.width]="this.width" mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th [hidden]="!displayedColumns.includes('select')" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td [hidden]="!displayedColumns.includes('select')" mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [disabled]="row.name == '..'" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th [hidden]="!displayedColumns.includes('name')" mat-header-cell *matHeaderCellDef mat-sort-header>Name
                </th>
                <td [hidden]="!displayedColumns.includes('name')" mat-cell *matCellDef="let element"
                    (click)="onClick(element)" (contextmenu)="onContextMenu($event, element)">
                    <!-- https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript -->
                    <div style="display: flex; align-items: center; -moz-user-select: none;
                                        -webkit-user-select: none; -ms-user-select: none; user-select: none;
                                        -moz-user-select: none;" unselectable="on" onselectstart="return false"
                        onmousedown="return false">
                        <mat-icon style="vertical-align: center; margin-right: 1em;">{{element.type == "file" ?
                            "description" : "folder"}} </mat-icon>
                        <span>{{element.name}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="last_modified">
                <th [hidden]="!displayedColumns.includes('last_modified')" mat-header-cell *matHeaderCellDef
                    mat-sort-header>last modified</th>
                <td [hidden]="!displayedColumns.includes('last_modified')" mat-cell *matCellDef="let element"
                    (click)="onClick(element)" style="-moz-user-select: none;
                                    -webkit-user-select: none; -ms-user-select: none; user-select: none;
                                    -moz-user-select: none;" unselectable="on" onselectstart="return false"
                    onmousedown="return false">{{element.last_modified}}</td>
            </ng-container>

            <ng-container matColumnDef="file_size">
                <th [hidden]="!displayedColumns.includes('file_size')" mat-header-cell *matHeaderCellDef
                    mat-sort-header>file size</th>
                <td [hidden]="!displayedColumns.includes('file_size')" mat-cell *matCellDef="let element"
                    (click)="onClick(element)" style="-moz-user-select: none;
                                    -webkit-user-select: none; -ms-user-select: none; user-select: none;
                                    -moz-user-select: none;" unselectable="on" onselectstart="return false"
                    onmousedown="return false">{{element.file_size}}</td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th [hidden]="!displayedColumns.includes('delete')" mat-header-cell *matHeaderCellDef></th>
                <td class="app-table__cell-content-right" [hidden]="!displayedColumns.includes('delete')" mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warn" (click)="onDeleteClicked(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="context-menu" [style.top]="contextMenuPosition.y" [style.left]="contextMenuPosition.x"
            [matMenuTriggerFor]="contextMenu"></div>
        <mat-menu #contextMenu="matMenu">
            <button [hidden]="!this.contextMenuElements.includes('download')" mat-menu-item
                (click)="onSingleItemDownloadClicked()">
                <mat-icon>cloud_download</mat-icon>
                <span>Download</span>
            </button>
            <button [hidden]="!this.contextMenuElements.includes('rename')" mat-menu-item (click)="onRenameClicked()">
                <mat-icon>drive_file_rename_outline</mat-icon>
                <span>Rename</span>
            </button>
            <mat-divider></mat-divider>
            <button [hidden]="!this.contextMenuElements.includes('delete')" mat-menu-item class="warn_text"
                (click)="onSingleItemDeleteClicked()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>
</div>